<ion-title>Settings</ion-title>
<ion-list>

  <a routerLink="/song-search" routerLinkActive="active" >
    <ion-item>
      <ion-icon name="musical-notes" slot="start"></ion-icon>
      <ion-label>new profile song</ion-label>
    </ion-item></a>
    <a routerLink="/pers-settings" routerLinkActive="active" >
  <ion-item>
    <ion-icon name="unlock" slot="start"></ion-icon>
    <ion-label>Change Password</ion-label>
  </ion-item></a>
  <ion-item>
    <ion-icon name="trash" slot="start"></ion-icon>
    <ion-label>Delete my Account</ion-label>
  </ion-item>
</ion-list>
