
<h1 class="title">Musictinder - Find your perfect Listener</h1>
<ion-app>
<!-- fab placed to the top start -->
<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-dropright"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    <ion-fab-button color="light">
      <a routerLink="/song-list" routerLinkActive="active"><ion-icon name="logo-facebook"></ion-icon></a>

    </ion-fab-button>
    <ion-fab-button color="light">
      <a routerLink="/song-search" routerLinkActive="active"><ion-icon name="logo-twitter"></ion-icon></a>
    </ion-fab-button>
    <ion-fab-button color="light">
      <a routerLink="/song-swipe" routerLinkActive="active"><ion-icon name="logo-vimeo"></ion-icon></a>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<nav>





</nav>

<router-outlet></router-outlet>
</ion-app>


<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
