/* AppComponent's private CSS styles */
body {
  /* padding or margin don't work */
}

h1 {
  color: #336b81;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  color: black;
}

nav a:hover {
  color: #336b81;
  background-color: #e0e0dc;
}
nav a.active {
  color: #336b81;
  background-color: #cecece;
}
