
<h1 class="title">Musictinder - Find your perfect Listener</h1>
<ion-app>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Music Tinder</ion-title>
  </ion-toolbar>
<!-- fab placed to the top start -->
<!---<ion-fab vertical="top" horizontal="start" slot="fixed">
 <ion-fab-button>
    <ion-icon name="arrow-dropright"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    <ion-fab-button color="light">
      <a routerLink="/song-list" routerLinkActive="active"><ion-icon name="logo-facebook"></ion-icon></a>

    </ion-fab-button>
    <ion-fab-button color="light">
      <a routerLink="/song-search" routerLinkActive="active"><ion-icon name="logo-twitter"></ion-icon></a>
    </ion-fab-button>
    <ion-fab-button color="light">
      <a routerLink="/song-swipe" routerLinkActive="active"><ion-icon name="logo-vimeo"></ion-icon></a>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>-->
  <ion-menu side="start" id="menu">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <a routerLink="/song-swipe" routerLinkActive="active" (click)="closeMenu()">
        <ion-item>
          <ion-icon name="heart-half" slot="start"></ion-icon>
          <ion-label>SongSwipe</ion-label>
        </ion-item></a>
        <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">
        <ion-item>
          <ion-icon name="chatbubbles" slot="start"></ion-icon>
          <ion-label>My matches</ion-label>
          <ion-badge slot="end" color="primary">22</ion-badge>
        </ion-item></a>
        <a routerLink="/song-list" routerLinkActive="active" (click)="closeMenu()">
        <ion-item>
          <ion-icon name="musical-note" slot="start"></ion-icon>
          <ion-label>Music I like</ion-label>
          <ion-badge slot="end" color="secondary">134</ion-badge>
        </ion-item></a>
        <a routerLink="/settings" routerLinkActive="active" (click)="closeMenu()">
        <ion-item>
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item></a>
      </ion-list>
    </ion-content>
  </ion-menu>
<nav>





</nav>
<ion-content>
<router-outlet main></router-outlet>
</ion-content>
</ion-app>


<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
