.music-card {
  max-width: 600px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  --background: #fafafa;
}

.music-card img:first-child {
  /*width: 99%*/
}

.bottom-bar {
  --background: rgba(0, 0, 0, 0.13);
  padding-top: 5px;
  padding-bottom: 5px;
  --color: #ffffff;
}

.love {
  --color: #1dddff;
}

.hate {
  --color: #d02aaa;
}


/* Responsive Design - Swipefunktion bei Handy */
/*@media screen and (max-width: 800px) {*/
/*  .left, .main, .right {*/
/*    width: 100%; !* The width is 100%, when the viewport is 800px or smaller *!*/
/*  }*/
/*}*/

.ion-margin-start {
  padding: 10px;
}

ion-card-title {
  --color: #091a21;
}
