.music-card {
  max-width: 600px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  --background: #fafafa;
}

.bottom-bar {
  --background: rgba(0, 0, 0, 0.13);
  padding-top: 5px;
  padding-bottom: 5px;
  --color: #ffffff;
}

.love {
  --color: #1dddff;
}

.hate {
  --color: #d02aaa;
}

.ion-margin-start {
  padding: 10px;
}

ion-card-title {
  --color: #091a21;
}

.animate-me-love {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 150px;
  color: #1dddff;
  opacity: 0;
}

.animate-me-hate {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 150px;
  color: #d02fad;
  opacity: 0;
}
