
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="repeat" (click)="repeatSong()">
      <ion-icon name="refresh"></ion-icon>
      <ion-label>Repeat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hate" (click)="hateSong()">
      <ion-icon name="close-circle"></ion-icon>
      <ion-label>Hate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="save" (click)="saveSong()">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Save</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="love" (click)="loveSong()">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Love</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info" (click)="infoSong()">
      <ion-icon name="musical-note"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>





