<div>
  <p id="divText">
    Hallo
  </p>
  <p> Hallo du </p>
  <p> Hallo dee</p>
</div>

<ion-tabs>
  <ion-tab-bar slot="bottom" >
    <ion-tab-button (click)="pauseplaySong()">
      <ion-icon size="large" name="pause" id="Pause/PlayIcon"></ion-icon>
      <ion-label id="Pause/Play">Pause</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="hateSong()">
      <ion-icon size="large" name="close-circle" color=""></ion-icon>
      <ion-label>Hate</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="infoSong()">
      <ion-icon size="large" name="musical-note"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="loveSong()">
      <ion-icon size="large" name="heart"></ion-icon>
      <ion-label>Love</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="repeatSong()">
      <ion-icon size="large" name="refresh"></ion-icon>
      <ion-label>Repeat</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>





