ion-content {
  --background: #ccc url("../../../assets/images/backimage.jpg") no-repeat center center / cover;
  background-size: contain;
  text-align: center;
}

.right {
  text-align: right;
}

.right a{
  color: white;
}

.logo{
  background-color: transparent !important;
}

.error-message{
  background-color: white;
}

ion-button{
  margin: 20px 0px 0 0px;
  border: none;
}

ion-card{
  top:15%;
  box-shadow: none;
  bottom: 30px;
}


