<ion-searchbar #search (keyup.enter)="searchSongs(search.value)"  color="light"></ion-searchbar>


<ion-list *ngIf="results != undefined">
  <ion-item *ngFor="let result of results.results">
    <ion-avatar slot="start">
      <img src="{{result.artworkUrl100}}">
    </ion-avatar>
    <ion-label>
      <h2>{{result.trackName}}</h2>
      <h3>{{result.artistName}}</h3>
      <p>{{result.collectionName}}</p>
    </ion-label>
    <ion-button (click)="addSong(result)">Set song</ion-button>
  </ion-item>
</ion-list>
