<ion-header>
    <ion-toolbar>
      <ion-title>Personal Data</ion-title>
    </ion-toolbar>
  </ion-header>

    <!-- <ion-label position="stacked"></ion-label> -->
    <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input placeholder="username" [(ngModel)]="person.name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input placeholder="mail" [(ngModel)]="person.email" type="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Birthdate</ion-label>
        <ion-datetime  placeholder="birthdate" [(ngModel)]="person.birthday"></ion-datetime>
    </ion-item>
<!--     <ion-item>
        <ion-label position="floating">Passwort</ion-label>
        <ion-input placeholder="password" [(ngModel)]="person.password" type="password"></ion-input>
    </ion-item> -->
    <ion-item>
        <ion-label position="stacked">personal song description</ion-label>
        <ion-textarea [(ngModel)]="person.songDescription"></ion-textarea>
      </ion-item>

<ion-button  shape="round" (click)="update()">
 Save
</ion-button>

