.sign-up-title {
  color: white;
  margin-bottom: 80px;
  font-size: xx-large;
}

.validation-errors {
  color: white;
}

ion-content {
  --background: linear-gradient(#1f8698, #0c2c34);
  text-align: center !important;
}

.logo {
  margin-bottom: 5%;
  margin-top: 5%;
}

ion-item {
  --border-radius: 50px;
  --inner-padding-start: 20px;
  --inner-padding-end: 20px;
  --inner-padding-top: 0px;
  --padding-bottom: 0px;
  --padding-top: 0px;
  margin-top: 20px;
}

.submit-button {
  margin-top: 30px;
  --background: #10efe6;
  --padding-bottom: 26px;
  --padding-top: 26px;
}

.sign-note {
  margin-top: 20%;
  color: white;
}

.sign-in-button {
  --padding-bottom: 22px;
  --padding-top: 22px;
  --border-color: #10efe6;
  --color: #10efe6;
  margin-bottom: 10px;
}

ion-input {
  --padding-top: -50px !important;
  --padding-bottom: -50px !important;
  --padding-start: 50px;
  font-size: x-large;
}

ion-card {
  box-shadow: none;
  max-width: 800px;
}
