<ion-content class="ion-padding">
  <ion-card class="login-card">
    <form [formGroup]="register_validations_form" (ngSubmit)="onSubmit(register_validations_form.value)">
      <ion-item>
        <ion-label position="floating" color="primary">Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message"
               *ngIf="register_validations_form.get('name').hasError(validation.type) && (register_validations_form.get('name').dirty || register_validations_form.get('name').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
               *ngIf="register_validations_form.get('email').hasError(validation.type) && (register_validations_form.get('email').dirty || register_validations_form.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Birthday</ion-label>
        <ion-datetime formControlName="birthday" displayFormat="YYYY-MM-DD" min="{{mindate}}"
                      max="{{maxdate}}"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message"
               *ngIf="register_validations_form.get('birthday').hasError(validation.type) && (register_validations_form.get('birthday').dirty || register_validations_form.get('birthday').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <div formGroupName="matching_passwords">
        <ion-item>
          <ion-label position="floating" color="primary">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
                 *ngIf="register_validations_form.get('matching_passwords').get('password').hasError(validation.type) && (register_validations_form.get('matching_passwords').get('password').dirty || register_validations_form.get('matching_passwords').get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating" color="primary">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirm_password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirm_password">
            <div class="error-message"
                 *ngIf="register_validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (register_validations_form.get('matching_passwords').get('confirm_password').dirty || register_validations_form.get('matching_passwords').get('confirm_password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <!-- These validations are for the form group -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.matching_passwords">
          <div class="error-message"
               *ngIf="register_validations_form.get('matching_passwords').hasError(validation.type) && (register_validations_form.get('matching_passwords').get('confirm_password').dirty || register_validations_form.get('matching_passwords').get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-button color="primary" class="submit-btn" expand="full" type="submit"
                  [disabled]="!register_validations_form.valid">Sign Up
      </ion-button>
    </form>
    <div class="right">
      <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
  </ion-card>
</ion-content>




